<div class="row mt-3">
  <div class="col col-xs-10 mx-auto">
    <div class="input-group" *ngIf="allowImport; else importNotAllowed">
      <div class="input-group-prepend">
        <span class="input-group-text">Context:</span>
      </div>
    <select [(ngModel)]="activeContextName" class="form-control" (change)="onActiveContextChanged()">
      <ng-container *ngFor="let context of contexts; let i = index">
        <option *ngIf="context.name !== 'global'" value="{{context.name}}" [selected]="i===0">
          {{ context.name | uppercase   }}&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;part of: {{ context.part_of }}&nbsp;&nbsp;|&nbsp;&nbsp;Index: {{ context.index }}
        </option>
      </ng-container>
    </select>
    </div>
  </div>

  <ng-template #importNotAllowed>
    <div class="alert alert-warning">
      <h4 class="alert-heading">No importable Context found</h4>
        No Context with an existing index definition could be found. Most likely because the global Context
        is the only defined Context. <a routerLink="/settings" class="alert-link">Create a new Context</a>,
        where your imported data should live.
    </div>
  </ng-template>
</div>

<div class="row">
  <div class="col col-xs-12">
    <h3 (click)="pageToggler = !pageToggler" style="cursor: pointer">
      <fa name="chevron-{{ pageToggler ? 'down' : 'right' }}"></fa>  New Page
    </h3>
    <hr>
    <app-page-edit [context]="activeContext" *ngIf="allowImport && pageToggler "></app-page-edit>
  </div>
</div>

<div class="row">
  <div class="col col-xs-12">
    <h3 (click)="csvToggler = !csvToggler" style="cursor: pointer">
      <fa name="chevron-{{ csvToggler ? 'down' : 'right'}}"></fa> Import Data
    </h3>
    <hr>
    <div class="alert alert-warning" *ngIf="allowImport && csvToggler">
      <h3 class="alert-heading">Not Implemented</h3>
      <p>The CSV Data page import is not implemented yet.</p>
    </div>
  </div>
</div>

<!--<p>Development: activeContext:</p>
<pre>
  {{ activeContext | json }}
</pre>-->

