<div class="row h-100">
  <div class="col"></div>
  <div class="col col-md-8 col-sm-12 my-auto">
    <div class="alert text-center text-black-50 -bold">
      <span class="h2">
        <span class="text-theme h1">E</span>lastic
        <span class="text-theme h1">M</span>eta
        <span class="text-theme h1">C</span>atalog
        <span class="text-theme h1">2</span>
      </span><br>
      Search your data powered by
      <a href="https://www.elastic.co/products/elasticsearch" target="_blank" class="text-dark">Elasticsearch</a>
    </div>
  </div>
  <div class="col"></div>
</div>
