/* You can add global styles to this file, and also import other style files */
/* Some custom styling */
html, body {
  height: 100%;
}

bg-theme {
  background-color: #BB5B3D;
}

text-theme {
  color: #BB5B3D !important;
}

h1, h2, h3, h4 {
  color: #BB5B3D;
  font-weight: bold;
}

